@import'./theme';

html, body {
  height: 100%; }

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
    color: #0e1a40;
}

.lightblue{
    color: #222f5b;
}

.green{
    color: #66bb6a;
}

.gold{
    color: #946b2d;
}

.gray{
    color: #5d5d5d;
}
.attribution-link{
    text-decoration: none;
    color: white;
}

.card-title-icon {
    text-align: center;
}

.card-title-icon, .mat-icon {
    font-size: 72px;
}

.align-center {
  text-align: center;
 }
