<div fxLayout="row wrap">

    <div fxFlex>

        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon">
              <mat-icon color="primary">navigation</mat-icon>
            </mat-card-title>

            <br />

            <mat-card-content class="align-center">
                <p>
                    9045 welch street
                </p>
                <p>
                    Nashville, Tennessee
              </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon">
              <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>

        <br />

        <mat-card-content class="align-center">
          <p>
              Direct: 615-305-6699
          </p>
          <p>
              Toll-free: 1-800-435-8888
          </p>
          <p>
              Fax: 615-858-5250
          </p>
        </mat-card-content>
        </mat-card>
    </div>
</div>
  <br /><br /><br /><br />
  <div fxLayout="column">
      <p style="text-align: center">
          Visit us online at LoanApp.com. For more details about approved loans come visit our onsite location.
      </p>
  </div>
