<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="./assets/picture 1.jpg" />
          </div>

          <div>
              <em class="gold">
                  Photo by Maria Ziegler on <a class="attribution-link" href="https://unsplash.com/photos/keys-on-hand-jJnZg7vBfMs" target="_blank">Unsplash</a>
              </em>
          </div>
      </div>
  </div>

    <div fxFlex>
        <h1 class="blue"> Loan App History</h1>

        <p class="gold">
            Loan App was founded in 1990. Anthony Johnson started the company upon his exist from Wells Fargo. His personal commitment was to the improvement
            of the housing industry. He noticed that many applicants were not aware of the of process and capital involved in purchasing a new home. With Federal
            backing and private investors Anthony was able to establish the first Loan App company that would approve on almost 95 percent of all loan request.
            Loan App has branched out to over 35 states across the United States. Currently, in the process of establishing its first overseas branch in the UK.
            BBB has given a A+ accreditation.

        </p>

</div>




<br />
<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="./assets/amy-hirschi-JaoVGh5aJ3E-unsplash.jpg" />
          </div>

          <div>
              <em class="gold">
                  Photo by Amy Hirschi on <a class="attribution-link" href="https://unsplash.com/photos/woman-in-teal-t-shirt-sitting-beside-woman-in-suit-jacket-JaoVGh5aJ3E" target="_blank">Unsplash</a>
              </em>
          </div>
      </div>
  </div>

    <div fxFlex>
        <h1 class="blue"> Application/Loan Option</h1>

        <p class="gold">
            The loan application process can begin online or by visiting any store location. We require three forms of identification. The decision
            on the status of the application takes no more than 3 days. We pride ourselves on making the best options available to all clients.
            Loan options fall into (3) options. A prestige package include loan options up to 100,000. B premium package include loan options up to
            250,000. C prosperous package includes loan options starting at 500,000.

    </div>

</div>
<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="./assets/krakenimages-376KN_ISplE-unsplash.jpg" />
          </div>

          <div>
              <em class="gold">
                  Photo by Thomas Schweighofer on <a class="attribution-link" href="https://unsplash.com/photos/man-in-white-dress-shirt-sitting-beside-woman-in-black-long-sleeve-shirt-376KN_ISplE" target="_blank">Unsplash</a>
              </em>
          </div>
      </div>
  </div>

    <div fxFlex>
        <h1 class="blue"> Repayment</h1>

        <p class="gold">
            Payment process is the most intense thing for new homeowners  or even existing ones. We want to make this process as easy as possible.
            With not payment due within the first year and interest starting to calculate only after the 6 months of payments being received.
            You may elect to have weekly payments withdrawn from your employer. You can make payments bi-weekly.
            Lastly, you can make one payment at the beginning or end of month.
            Interest options are only waived on loans that are repaid with in 48 months.
            Failure to make consistent payment will cause double interest charges on the remain balance.

    </div>
