<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-left">Wolfgang Amadeus Mozart</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/vienna-1382695_1280.jpg" alt="Statue of Mozart" />
      <br />
      <a href="https://pixabay.com/photos/vienna-monument-mozart-statue-1382695/"target="_blank">Source</a>
      </div>
      <div class="col-sm-9">
        <p>
          Wolfgang A. Mozart is a famous composer from Austria. Born on January 27th in 1756, he lived to the age of 35.
          His music consists of different genres noticeable for opera and symphony works.At the age of about 5 yrs. old he wrote a Minuet.
          Some of the most famous compositions by Mozart are the motet Exsultate, Jubilate, K 165, the Marriage of Figaro (1786), Don Giovanni (1787)
          and the Jupiter Symphony (1788).In 1782 he married Constanze Weber they had 6 children together. He was a freemason.
          He passed away on December 5th at his home in Vienna. His grave is unknown to this day.
            <em class="apa-reference"><a href="https://en.wikipedia.org/wiki/Death_of_Wolfgang_Amadeus_Mozart#:~:text=From%20this%20point%20on%2C%20scholars,%2C%20at%2012%3A55%20am." target="_blank">Source</a></em>
        </p>
      </div>
    </div>
  </div>
