<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card>
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">navigation</mat-icon>
        </mat-card-title>

        <br />
        <mat-card-content="algin-center">
          <p>
            9090 Cherry Street
          </p>
          <p>
            Nashville, Tennessee
          </p>
      </mat-card-content=>
    </mat-card>
  </div>

  <div fxFlex>
      <mat-card>
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">phone</mat-icon>

        </mat-card-title>

        <br />

        <mat-card-content class="align-center">
          <p>
              Direct: 659-5235-8768
          </p>
          <p>
              Toll-free: 1-800=9090
          </p>
          <p>
              Fax: 777-564-7777
          </p>

        </mat-card-content>
      </mat-card>
  </div>
</div>
<br /> <br /> <br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online for more information regarding your loan request. Our main location has a loan specialist wait on your request. 
  </p>
</div>
