<div fxLayout="row wrap">

  <div fxLayout="column">

    <div>

        <img src="./assets/picture 1.jpg" />
    </div>
    <div>
      <em>
        Photo by Maria Ziegler on <a class="attribution-link" href="https://unsplash.com/photos/keys-on-hand-jJnZg7vBfMs" target=" _blank">Unsplash</a>
      </em>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue"> Loan App </h1>
    <p>
      Loan App was establish in 1980. Arthur Flemington created a vision of empowering people with the ability to pursue life. His
      commitment to the community was a personal service that thrive on giving the chance to those that otherwise would not have the ability
      to achieve the goal of home ownership. Loan App allows you the ability to be pre-qualified with little credit history.
    </p>
  </div>
</div>
